*{
    padding: 0;
    border: 0;
    margin: 0;
    background-color: aqua;
}

canvas{
    background-image: url('./images/background-game-img.jpg');
    border: 1 solid red;
    position: relative;
    margin-left: 50px;
}

p{
    font-size: 20px;
    color: red;
    margin: 10px 50px;
}

